
:root[b-bdm6p4hmmh] {
  
}
.page[b-bdm6p4hmmh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bdm6p4hmmh] {
    flex: 1;
}

html[data-bs-theme="dark"][b-bdm6p4hmmh] {

}

html[data-bs-theme="light"][b-bdm6p4hmmh] {
   
}

.sidebar[b-bdm6p4hmmh] {
    background-color: var(--bs-body-bg); /* Use Bootstrap's body background color */
    color: var(--bs-success);
}

.top-row[b-bdm6p4hmmh] {
    background-color: var(--bs-body-bg); /* Use Bootstrap's body background color */
    border-bottom: 1px solid var(--bs-border-color); /* Use Bootstrap's border color */
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bdm6p4hmmh]  a, .top-row[b-bdm6p4hmmh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        color: var(--bs-link-color); /* Use Bootstrap's link color */
    }

        .top-row[b-bdm6p4hmmh]  a:hover, .top-row[b-bdm6p4hmmh]  .btn-link:hover {
            text-decoration: underline;
            color: var(--bs-link-hover-color); /* Use Bootstrap's link hover color */
        }

        .top-row[b-bdm6p4hmmh]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-bdm6p4hmmh] {
        justify-content: space-between;
    }

        .top-row[b-bdm6p4hmmh]  a, .top-row[b-bdm6p4hmmh]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-bdm6p4hmmh] {
        flex-direction: row;
    }

    .sidebar[b-bdm6p4hmmh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bdm6p4hmmh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-bdm6p4hmmh]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-bdm6p4hmmh], article[b-bdm6p4hmmh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-bdm6p4hmmh] {
    background: var(--bs-warning-bg-subtle); /* Use Bootstrap's warning background color */
    color: var(--bs-warning-text); /* Use Bootstrap's warning text color */
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-bdm6p4hmmh] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        color: var(--bs-danger); /* Use Bootstrap's danger color */
    }
